[Unit]
Description=Lights service
After=network.target

[Service]
ExecStart=/home/pi/lights.sh
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target